<!-- child template that inherit from the base template -->
<!-- We create a form here and pass it to views.py -->
{% extends "main/base.html" %}

{% block title %}
Create New List
{% endblock %}

{% block content %}
<h3>
<pre>
创建Boss池
Create Boss Pool
</pre>
</h3>

<br>
<!-- POST a form to views via /create/ -->
<!-- The {{form}} tag is what will represent the form that we create from within our python code.
We will pass it to the view under the name form and it will generate a form for us. -->
<!-- the form has only one field, the name -->
<form method="POST" action="/create/" class="form-group">
    {% csrf_token %}<!-- everytime create a form -->
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button name="save" type="submit" class="btn btn-success">Create</button>
        </div>Boss Code: {{form.name}}; Hp: {{form.hp}}; Boss 标伤: {{form.required_dmg}}
        <!-- this will be passed to views, representing the list that we have created -->
    </div>
    <p>请根据周目A-Z, boss1-6(非狂暴为5, 狂暴为6), 规范创建boss池</p>
</form>
{% endblock %}