<!-- child template that inherit from the base template -->
{% extends "main/base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<h3>
<pre>
使用指导:
Instructions:
</pre>
</h3>
<Pre>
0. 管理员: 管理员的初始用户名和密码分别是: *****, ************
0. Admin: Admin Initial ID and Password: *****, ************

1. 注册:  骑士通过Register注册
1. Register: All knights should register using the Register site

2. 登录与登出: 操作团战工具前后, 请注意登录和登出, 否则没有查看或选择的权限
2. Login and Logout: All users need to login and logout, in order to gain access and authorization and to protect their account

3. 管理员创建排刀: 只有管理员可以通过Create, 以及View创建排刀, Create创建Boss后(A1, A2, A3 ...), 通过Add Item添加刀池
3. Create the Pool: Admin is the only user who is capable of creating the "Pool". 
First, create bosses using create site, then, add recommended arrangements using add item

4. 骑士选刀: 管理员创建好刀型后, 请每个骑士自行登录账号, 选择刀
4. Select from Pool: After the "Pool" is set, all knights, should go to the View site and select their options

5. 骑士查看个人刀池: 骑士可以通过Knight, 查看自己的刀池, 以及报刀
5. Status: Knights can view their status in Knight site, and report their actual damage dealt to boss

6. 总览: 可以更加简洁的查看当前会战的情况
6. Overview: A brief summary of the guild status

7. 后台: 管理员拥有后台操作权限, 修改所有数据的权限
7. Admin dash board: Admin user can log into the admin dash board to modify any data
</Pre>
{% endblock %}