<!-- This page allow Knights to view their items -->
{% extends 'main/base.html' %}

{% block title %} Knight View {% endblock %}

{% block content %}
<h3>
<pre>
骑士状态及报刀
Knight status and Report
</pre>
</h3>
<p>请输入实际对boss造成的伤害, 并点击对应刀后的Report完成报刀</p>
<form method="POST" action="/knight/">
    {% csrf_token %}
<!-- loop through all items and pick current knight's items -->
    <p>Hit Damage: <input type="text", name="actualdmg"></p>
    {% for td in all_list %}
        <p><a href="/{{td.id}}">{{td.name}}</a></p>
        {% for i in td.item_set.all %}
            {% if user.username == i.owner%}
                <!-- submit to check complete and modify attribute: actualDmg -->
                <p>{{i.id}} - {{i.text}} - {{i.dmg}} - {{i.time}} - {{i.owner}} - {{i.complete}} - <button type="submit", name="reportItem", value={{i.id}} class="btn btn-success">Report</button> - Actual Dmg: {{i.actualDmg}}</p>
            {% endif %}
        {% endfor %}
    {% endfor %}
</form>
{% endblock %}